@{
}

@model BooksViewModel

<h1>413 Book Store</h1>

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification/Category: @b.Classification/@b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>

    <br />

}

<div page-model="@Model.PageInfo" page-action="Index"></div>
